body {
  margin: 0;
  padding: 0; }

.todo-wrapper {
  width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; }

.input-area {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #c3e93a86;
  border-radius: 4px; }
  .input-area__input-box {
    width: 80%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 0 10px; }
  .input-area__button {
    margin-left: 5px;
    width: 60px;
    height: 34px;
    background-color: #728539;
    border: none;
    border-radius: 4px;
    color: #f6f5f4;
    transition: 0.3s; }
    .input-area__button:hover {
      cursor: pointer;
      color: #333333;
      background-color: #ced871;
      transition: 0.3s; }

.incomplete-area {
  background-color: #3ae9b581;
  min-height: 200px;
  border-radius: 4px; }
  .incomplete-area__title {
    color: #087269;
    margin-left: 10px; }

.complete-area {
  background-color: #5759e08f;
  min-height: 200px;
  border-radius: 4px; }
  .complete-area__title {
    color: #473a8d;
    margin-left: 10px; }

.list-row {
  margin-bottom: 5px; }

.item-text {
  color: #333333;
  display: inline-block;
  width: 75%; }

.complete-button {
  width: 54px;
  height: 28px;
  border-radius: 16px;
  border: none;
  background-color: #114836e0;
  color: #f6f5f4;
  cursor: pointer;
  transition: 0.3s; }
  .complete-button:hover {
    color: #333333;
    background-color: #d3f1e7;
    transition: 0.3s; }

.remove-button {
  margin-left: 5px;
  width: 54px;
  height: 28px;
  border-radius: 16px;
  border: none;
  background-color: #585858;
  color: #f6f5f4;
  cursor: pointer;
  transition: 0.3s; }
  .remove-button:hover {
    color: #333333;
    background-color: #ececec;
    transition: 0.3s; }

.back-incomplete-button {
  width: 54px;
  height: 28px;
  border-radius: 16px;
  border: none;
  background-color: #56366b;
  color: #f6f5f4;
  cursor: pointer;
  transition: 0.3s; }
  .back-incomplete-button:hover {
    color: #333333;
    background-color: #e0bdf7;
    transition: 0.3s; }
